<p><%= link_to 'PBL Link Catalogue', '/go' %></p>
<p><%= link_to 'Add New PBL Links', '/go/manage' %></p>

<h1>PBL Link Clicks</h1>

<h3>Raw Click Data</h3>
<% @go_link_clicks.each do |click| %>
<div><%= @member_hash[click.member_id].name %>: <%= @go_link_id_hash[click.go_link_id].key %></div>
<% end %>