<h1>Points</h1>
<p>You have <%= @points %> points</p>
<h2>Attended Events</h2>
<ul>
<% @attended.each do |event| %>
<li><%= event.name %></li>
<% end %>
</ul>
<h2>PBL Points</h2>
<ul>
<% @member_name_point_dict.keys.each do |member_name| %>
<li><%= member_name %>: <%= @member_name_point_dict[member_name] %></li>
<% end %>
</ul>