<style type = 'text/css'>

</style>

<div class = 'centered'>
<h1>Points</h1>
<h3>You have <%= @points %> points</h3>
<h2>Events You Attended</h2>
<div><a href = '/points/attendance?filter=me'>My Attendance</a></div>
<% @attended.each do |event| %>
<div><%= event.name %> (<%= event.get_points %>)</div>
<% end %>

<!-- <h2>Your Committee</h2> -->

</div>
