

<style type = 'text/css'>
.locked{
	/*background-color: red;*/
	/*position:fixed;*/
	/*top:0px;*/
}
.locked-left{
	/*left:0px
	;*/
	/*position: absolute;*/
}
#rowspacer{
	/*height:200px;*/
}
</style>

<h1>Attendance</h1>

<table class='table table-condensed table-hover table-bordered'>

	<thead class='locked'>
		<th>Members</th>
		<% @semester_events.pluck(:name).each do |event_name| %>
		<th><%= event_name %></th>
		<% end %>
	</thead>


	<tbody>
		<tr id='rowspacer'></tr>
		<% @current_cms.each do |cm| %>
		<tr>
			<td class='locked-left'><%= cm.name %></td>
			<% @mappings_dict[cm.id].each do |bool|%>
			<td><% if bool %>X<% end %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>

</table>