<h1>Register for push notifications</h1>
<input type = 'text' class = 'form-control' id = 'chrome-id-input' placeholder = 'enter chrome id here'/>
<button id = 'push-register-btn' class = 'btn btn-material-grey-500'>Register for push</button>


<script type = 'text/javascript'>
$('#push-register-btn').click(function(){
	alert('hi');
});
</script>