
<div class="jumbotron">
      <div class="container">
        <h1>You do not have an account</h1>
        <p>Your email <b><%= @email %></b> was not found in our system, please review our contact sheet for more information. If you believe a mistake has been made, please contact berkeleypbl.webdev@gmail.com for help</p>
        <p><a class="btn btn-material-blue-500 btn-lg" href="http://pbl.link?contact-sheet" role="button">Contact Sheet</a></p>
      </div>
    </div>