<style type = 'text/css'>
.group-list{
	list-style: none;
}
.group-list > li{
	margin:2px;
}
.group-div{
	margin: 25px;
	float:left;
}
</style>

<div><h1>Groups</h1></div>
<div><h2><a href = '/scavenger_themes'>Back to Themes</a></h2></div>
<% @groups.each do |group| %>
	<div class = 'group-div'>
		<div class  = 'label label-default'><%= group.name %></div>
		<ul class = 'group-list'>
			<% group.get_members.each do |member| %>
			<li><%= image_tag member.profile_url, :height=>20 %> <%= member.name %></li>
			<% end %>
		</ul>
	</div>
	<% end %>