

<div class = 'group-div'>
	<% if is_primary_group %>
	<div class = 'label label-primary'>
	<% else %>
	<div class = 'label label-default'>
	<% end %>
	<a class = 'group-link' href = '/scavenger_groups/<%= group.id %>/add_photo'><%= group.name %></a></div>
		<ul class = 'group-list'>
			<% group.get_members.each do |member| %>
			<li><%= member.name %></li>
			<% end %>
		</ul>
</div>
<div class = 'group-image-div'>
<% if group.photos.length>0 %>
<%= image_tag group.photos.first.image, :height=>200 %>
<% else %>
no photo
<% end %>
	</div>
	<!-- end of group div -->