<h1>Personal View</h1>

<div class = 'col-md-4'>
<h2>Past Groups</h2>
<% @groups.each do |group| %>
<div class = 'label label-default'><%= group.name %></div>
<div class = 'group-members-list'></div>
<% end %>
</div>