<h1><%= @theme.name %></h1>

<% if @theme.get_group(current_member.id) %>
<%= render partial: "group", locals: {group: @theme.get_group(current_member), is_primary_group: true} %>
<% else %>
<div class = 'label label-default'>Not in a group yet</div>
<% end %>

<% @theme.groups.each do |group| %>
	<%= render partial: "group", locals: {group: group, is_primary_group: false} %>
<% end %>