<script type = 'text/javascript'>
function recordMember(swipy_data, event_id){
	return_value = "no return value";
	$.ajax({
          url:'/swipy/record_event_member',
          type: "GET",
          data: {"swipy_data": swipy_data,
      			"event_id":event_id}
        }).done(function(data){
            $('#message-h').text(data);

            li = document.createElement('div');
            $(li).addClass("swipy-li");
            $(li).text(data);
            $('#log-div').prepend(li);


        }).fail(function(data){
            alert('failed');
            $('#message-h').text('failed');
        });	
}
$(document).ready(function(){
	$('#swipy-input').keyup(function (event) {
        if (event.keyCode == '13') {
        	cardswipe = $(this).val();
        	
        	$(this).val("");   
        	event_id = $("#event-id-input").val();
        	recordMember(cardswipe,event_id);     	
            
        }
    });
});
</script>

<div class = 'col-md-5'>
<h1>Swipy!</h1>
<input class = 'form-control' id = 'event-id-input' type = 'text' placeholder = 'event id here'/>
<br/>
<input class = 'form-control' id = 'swipy-input' type='text' placeholder = 'swipe card here' />
<h2 id = 'message-h'>No Message</h2>
</div>


<div class = 'col-md-3'>
<h1>Log</h1>
<div id = 'log-div'></div>
</div>

<div class = 'col-md-4'>
<h1>Pick Event</h1>
<ul>
<% Event.this_semester.order(:start_time).each do |event| %>
<li><div><%= event.name %> : <%= event.id %> : <a href = '/events/<%= event.id %>/attendance'>Attendance</a></div></li>
<% end %>
</ul>
</div>




