<style type = 'text/css'>
</style>
<div class="modal fade" id="taskCardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelTasks">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabelTasks"><img src = '/assets/pbl-logo-circle.png' style = 'height:25px' ></img>Portal<span class = 'text-muted'> + </span> <img src = '/assets/trello-logo.png' style = 'height:25px' ></img>Trello</h3>
      </div>
      <div class="modal-body" id = 'modal-card-container'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-material-blue-500" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<script type = 'text/javascript'>

</script>