<style type = 'text/css'>
.main-content-div{
	padding:15px;
	margin:10px;
}
.smalltext{
	font-size:10px;
}
</style>

<h1 style = 'text-align:center'> <img src = '/assets/trello-logo.png' style = 'height:70px'></img> Trello + <img src = '/assets/pbl-logo-circle.png' style = 'height:70px'></img> PBL Portal</h1>

<p style = 'text-align:center'>Trello is a task management system that can help you and your committee stay on track! We have integrated Trello with PBL Portal to deliver a seamless experience managing tasks in PBL. While we recommend that you start using Trello yourself, you can perform much of the functionality directly from the portal!</p>

<div class = 'col-md-8'>
	<div class = 'shadow-z-1 main-content-div'>
	<h3 style = 'text-align:center'>How it works</h3>
	<p style = 'text-align:center'>We have created a task board at <a href = 'http://pbl.link/trello' target = '_blank'>pbl.link/trello</a> that the Portal updates automatically. Here's the lowdown on how to get set up!</p>
	<p style = 'text-align:left'>
		<ol class = 'list-group'>
		<li class = 'list-group-item'>Setup a Trello Account</li>
		<li class = 'list-group-item'>Provide the Portal with your account's information</li>
		<li class = 'list-group-item'>Start Using PBL Tasks!</li>
		</ol>
	</p>
	</div>
</div>

<div class = 'col-md-4'>

	<div class = 'main-content-div shadow-z-1'>
		<h3>Your Account Settings</h3>
		<p>
			<div><b>Trello User ID</b></div>
			<div><b>Trello Account Token</b></div>
			<p class = 'text-muted smalltext'>See something wrong? <a href = '/tasks/update_trello_info'>Reset Trello Settings</a></p>
		</p>
	</div>
	<div class = 'trello-helper-div shadow-z-1 main-content-div'>
		<h3>Manage Your Tasks</h3>
	    <div>Manage Trello Board at <a href = 'http://pbl.link/fa15-trello' target = '_blank'>pbl.link/trello</a></div>
	    <div>Create New Tasks at <a href = '/tasks/create' target = '_blank'>pbl.link/create-task</a></div>
	</div>

</div>

