<div >

	<h1 style = 'text-align:center'> <img src = '/assets/trello-logo.png' style = 'height:70px'></img> Trello + <img src = '/assets/pbl-logo-circle.png' style = 'height:70px'></img> PBL Portal</h1>

	<p style = 'text-align:center'>Trello is a task management system that can help you and your committee stay on track! We have integrated Trello with PBL Portal to deliver a seamless experience managing tasks in PBL. While we recommend that you start using Trello yourself, you can perform much of the functionality directly from the portal!</p>

	<h2 style = 'text-align:center'>How it works</h2>
	<p style = 'text-align:center'>We have created a task board at <a href = 'http://pbl.link/trello' target = '_blank'>pbl.link/trello</a> that the Portal updates automatically. Here's the lowdown on how to get set up!</p>
	<p style = 'text-align:left'>
		<ol class = 'list-group'>
		<li class = 'list-group-item'>Setup a Trello Account</li>
		<li class = 'list-group-item'>Provide the Portal with your account's information</li>
		<li class = 'list-group-item'>Start Using PBL Tasks!</li>
		</ol>
	</p>
</div>
