<h5>Your Task <a href = '<%= @card.url %>' target = '_blank'><%= @card.name %></a> Was Created</h5>
<p class = 'smalltext text-muted'>Click the card name to edit due dates, add descriptions, comment, etc...</p>
<p class = 'smalltext text-muted'>You can also continue creating new tasks from the current page</p>
