<h2>Your Task <a href = '<%= @card.url %>' target = '_blank'><%= @card.name %></a> Was Created</h2>
<p>Click the card name to edit due dates, add descriptions, comment, etc...</p>
<p>You can also continue creating new tasks from the current page</p>
