<h1 class = 'centered'>Tell us your commitments</h1>
<p style = 'centered'>Mark slots that you cannot attend. Try to leave at least 5 slots open so we can properly accomodate your preferences.a href="
	<!-- "></a>, as we are using a variation of <a href = 'http://pbl.link/tabling-algorithm'>pbl.link/tabling-algorithm</a></p> -->
<%= render "day_chart", objects: @marked %>