<style type = 'text/css'>
body{
	color:black;
}
.day-label{
	font-size:13px;
	margin-bottom:10px;
}
.day-div {
	padding:10px;
	float: left;
	width:20%;
}

#loading-gif{
  height:150px;
  position:fixed;
  left:500px;
  top:175px;
  display:none;
  z-index:5000;
}
</style>

<img src = 'https://cdn.wpfaster.org/wp-content/uploads/2013/06/loading-gif.gif' id = 'loading-gif'></img>

<% if not @other %>
<div class = 'top-area'>
	<h1 class = 'centered'>Tell us your schedule</h1>
	
	<p class = 'centered'>
		<button id = 'saveAll' class = 'btn btn-material-blue-700'>Save All</button>
		<button id = 'clearAll' class = 'btn btn-material-red-700'>Clear All</button>
		<button id = 'checkAll' class = 'btn btn-material-grey-700'>Check All</button>
	</p>
	<p class = 'centered'>Mark slots that you are free. For tabling, try to leave at least 5 slots open during tabling hours so we can find a good slot for you.</p>
	<div style = 'clear:both;display:inline-block;height:10px'></div>
</div>
<% end %>

<div id = 'schedule-div' class = 'row'>
<% @times_hash.keys.each do |day| %>
	<div class = 'day-div'>
		<div style = 'height:3px'></div>
		<% @times_hash[day].each do |time| %>
			<div class = 'time-div'>
				
				<% if not @commitments.include?(time) %>
					<span class = 'mdi-toggle-check-box-outline-blank commitment-toggle' data-time = '<%= time %>'></span>
				<% else %>
					<span class = 'mdi-toggle-check-box commitment-toggle' data-time = '<%= time %>'></span>
				<% end %>
				<%= TablingManager.time_string(time) %></div>
		<% end %>
	</div>
<% end %>
</div>



<script type = 'text/javascript'>
function showSpinner(){
	$("#loading-gif").show();
}
function hideSpinner(){
	$('#loading-gif').hide();
}
var checked = 'mdi-toggle-check-box';
var unchecked = 'mdi-toggle-check-box-outline-blank';
function toggle(box){
	if($(box).hasClass(checked)){
		$(box).removeClass(checked);
		$(box).addClass(unchecked);
	}
	else{
		$(box).removeClass(unchecked);
		$(box).addClass(checked);
	}
}
function saveAll(){
	times = [];
	$('.commitment-toggle').each(function(){
		if($(this).hasClass(checked)){
			times.push($(this).attr('data-time'));
		}
	});
	console.log(times);
	showSpinner();
	$.ajax({
      url: '/tabling/save_commitments',
      type: 'POST',
      data: {'commitments': times.join(',')},
      success:function(data){
        hideSpinner();
        console.log('saved');
      },
      error:function (xhr, textStatus, thrownError){
        hideSpinner();
        alert('failed');
      }
  });
}
$('#saveAll').click(function(){
	saveAll();
});
$('#clearAll').click(function(){
	$('.commitment-toggle').each(function(){
		if($(this).hasClass(checked)){
			toggle($(this));
		}
	});
});
$('#checkAll').click(function(){
	$('.commitment-toggle').each(function(){
		if(!$(this).hasClass(checked)){
			toggle($(this));
		}
	});
});
$('.commitment-toggle').click(function(){
	toggle($(this));
	

});	
</script>