<!-- TODO remove hardcoded jquery cdn -->
<style type = 'text/css'>
th, td {
    vertical-align: top;
}
.tabling-day {
	margin-left: 20px;
}
</style>

<h1>Tabling</h1>

<table>
	<tr>
<% @slots.keys.sort.each do |tabling_day| %>
	<td>
		<div class = 'tabling-day'>
		<% @slots[tabling_day].each do |tabling_slot| %>
			<div class = 'tabling-slot' id = '<%= tabling_slot.id %>'>
				<div class = 'tabling-slot-label label label-primary'><%= tabling_slot.time_string %></div>
				<% tabling_slot.members.each do |member| %>
					<div><%= member.name %></div>
				<% end %>
			</div>
		<% end %>
		</div>
	</td>
<% end %>

</tr>
</table>