<h1>Listing Tabling Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td>d</td>
        <td>c</td>
        <td>b</td>
        <td>a</td>
      </tr>
  </tbody>
</table>

<br>
<%= @points %>