<!-- TODO remove hardcoded jquery cdn -->
<link href="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
<%= javascript_include_tag "tabling_slots.js",  "data-turbolinks-track" => true %>

<style type='text/css'>
.tabling-day-list{
  float: left;
  list-style-type:none;
  margin: 20px;
}
.slot-list{
  list-style-type:none;
}
.current-member{
  color: #428bca;
  font-weight:bold;
}
.officer{
  color: #595959;
  font-weight:bold;
  /*font-style: italic;*/
}
.slot-member{
  margin:5px;
}
.slot-member > a{
  text-decoration: none;
  color:inherit;
}
</style>
<h1>Tabling Schedule</h1>

<% if @tabling_days.nil? %>
  <h1>No tabling slots yet!</h1>
<% else %>
  <% @tabling_days.each do |day, slots| %>
    <ul class="tabling list-group tabling-day-list">
      <div class="label label-primary dayheading"><%= day.strftime("%A, %D") %></div>
      <div style = "height:15px"></div>
      <div class="slots">
        <% slots.each do |slot| %>
          <div><%= render "slot", object: @slot = slot %></div>
        <% end %>
      </div>
    </ul>
  <% end %>
<% end %>