<!-- TODO remove hardcoded jquery cdn -->
<link href="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
<%= javascript_include_tag "tabling_slots.js",  "data-turbolinks-track" => true %>

<style type='text/css'>
.tabling-day-list{
  float: left;
  list-style-type:none;
  margin: 20px;
}
.slot-list{
  list-style-type:none;
}
</style>
<h1>Tabling Schedule</h1>

<% if @tabling_days.nil? %>
    <h1>No tabling slots yet!</h1>
<% else %>
 <% @tabling_days.each do |day, slots| %>
        <ul class="tabling list-group tabling-day-list">
          <div class="label label-primary dayheading"><%= day.strftime("%A, %D") %></div>
          <div style = "height:15px"></div>
          <div class="slots">
            <% slots.each do |slot| %>
              <p> <% current_member %> </p>
              <div><%= render "slot", object: @slot = slot %></div>
            <% end %>
          </div>
        </ul>
      </div>

 <% end %>
<% end %>