<!-- TODO remove hardcoded jquery cdn -->
<style type = 'text/css'>
th, td {
    vertical-align: top;
}
.tabling-day {
	margin-left: 20px;
}
</style>

<div style = 'margin-bottom:15px'>
<div><%= link_to "commitments", "tabling/commitments" %></div>
<div><%= link_to "options", "tabling/options" %></div>
</div>

<h1>Tabling Schedule</h1>




<%= render "tabling_schedule", object: @slots %>

