<!-- TODO remove hardcoded jquery cdn -->
<style type = 'text/css'>
th, td {
    vertical-align: top;
}
.tabling-day {
	margin-left: 20px;
}
</style>


<h1>Tabling Schedule</h1>




<%= render "tabling_schedule", object: @slots %>

