<!-- TODO remove hardcoded jquery cdn -->
<style type = 'text/css'>
th, td {
    vertical-align: top;
}
.tabling-day {
	margin-left: 20px;
}
</style>

<h1>Tabling</h1>

<div><%= link_to "commitments", "tabling/commitments" %></div>
<div><%= link_to "options", "tabling/options" %></div>


<%= render "tabling_schedule", object: @slots %>

