<script type = 'text/javascript'>

function updateProgress(){
	$.getScript("/tabling/progress_update");
}
$(document).ready(function(){
	setInterval(updateProgress, 2000);
	$.getScript("/tabling/progress_test");
});
</script>

<h1>Progress Test</h1>
<div id = 'progress-div'></div>