<script type = 'text/javascript'>

function updateProgress(){

}
$(document).ready(function(){
	$.getScript("/tabling/progress_update");
	setTimeout(updateProgress, 10000);
});
</script>

<h1>Progress Test</h1>
