<h1 style = 'text-align:center'>Viewing Group</h1>
<a href = '/view_groups'>Back to groups</a>
<h3>Group Name: <%= @group.name %></h3>
<h3>Group Members: </h3>
<!-- TODO show current members in group -->
<input type = 'text' class = 'form-control' placeholder = 'edit change group name (enter new group name here)'></input>
<input type = 'text' class = 'form-control' placeholder = 'add or remove members (ex: add: David Liu, remove: David Liu'></input>
<button class = 'btn btn-material-blue-900'>Save changes</button>
