<h1>Attendance for <%= @event.name %></h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
	<tbody>
	<% @event_members.each do |em| %>
	<tr>
		<td><%= Member.find(em.member_id).name %></td>
		<td><a href = '/event_members/<%= em.id %>/destroy'>destroy</a></td>
	</tr>
	<% end %>
	</tbody>
</table>
