<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<%= javascript_include_tag "points/points.js.erb" %>

<style type = "text/css">
div.bar {
    width: 200px;
    height: 20px;
    background-color: black;
    margin-bottom: 2px;
    text-align:right;
    color: yellow;
}
.chart rect {
  /*fill: steelblue;*/
}

.bartext {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
.bartext2{
  fill: black;
  font: 10px sans-serif;
}
.Historian{
  fill: rgb(216, 33, 33);
}
.Publications{
  fill: rgb(111, 199, 233);
}
.Professional{
  fill: green;
}
.Social{
  fill: rgb(11, 11, 185);
}
.Marketing{
  fill: orange;
}
.Executives{
  fill: gray;
}
.Consulting{
  fill: rgb(221, 112, 131);
}
.Finance{
  fill: purple;
}
.Community{
  fill: rgb(224, 224, 78);
}
#divider{
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: black;
  height: 5px;
  width: 100%;
}
svg{
  /*border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);*/
}
</style>
<h1 id = "message">getting data...please hold onto your potatoes</h1>
<div style = "height:50px;clear:both"></div>
<svg id="Publications"></svg>
<svg id="Historian"></svg>
<svg id="Community"></svg>
<svg id="Consulting"></svg>
<svg id="Finance"></svg>
<svg id="Marketing"></svg>
<svg id="Professional"></svg>
<svg id="Social"></svg>
<svg id="Executives"></svg>
<div style = "height:50px"></div>
<svg class="chart"></svg>
<div id = "d3"></div>
