<h1>Editing <%= @event.name %></h1>
<h2><a href = '/events/manage'>Back to Manage Events</a></h2>

<div class='form-field-div'><b>Name</b> <input id='name-input' class = 'form-control' type='text' value='<%= @event.name %>'/></div>

