<style type = 'text/css'>
.unsynced-event-row{
  color:red;
}
</style>

<table class = 'table table-striped'>
  <thead>
    <th>Name</th>
    <th>Location</th>
    <th>Start Time</th>
    <th>End Time</th>
  </thead>

  <tbody>
    <% @events.each do |event| %>
    <% if @merged_ids.include?(event.id) %>
    <tr>
    <% else %>
    <tr class = 'unsynced-event-row'>
    <% end %>
      <td><%= event.summary %></td>
      <td><%= event.location %></td>
      <td><%= event.start.date %></td>
      <td><%= event.end.date %></td>
    </tr>
    <% end %>
  </tbody>
</table>


