<script type = 'text/javascript'>
var ajax_data = 0;
$(document).ready(function(){


$.ajax({
    url: 'http://'+'<%= @route %>',
    type: "GET",
  }).success(function(data) {
  	// console.log(data);
  	
  	// console.log(data);
  	 // $(data).find("script").each(function () {
    //     //alert($(this).text());
    //     // eval($(this).text());
    //     console.log($(this));
    // });
  	ajax_data = data;
  	// alert('success');
  	// alert(ajax_data);
  	$("#assassins-html").html($(ajax_data).children());
  	// alert("#runscript").innerHTML;
  	
  }).complete(function(data){
  	
  }).fail(function(data){
  	console.log(data);
  	failed = true;
    alert('failed to load assassins');
  });
// $('.btn').click(function(){
//   eval($("#runscript").text());
//   alert('hello there');
// });
  
});
</script>
<h1> Welcome to PBL Assassins</h1>


<div id='assassins-html'></div>