<style type = 'text/css'>
.main-area{
	margin-left:15px;
	margin-top:15px;
	text-align:center;
	clear:both;
}
#top-banner{
	color: white;
    background-color: black;
    padding: 10px;
    text-align: center;
}
#instructions{
	margin-top:25px;
	margin-left:25%;
	width:50%;
	font-size:20px;
}
</style>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">


<div id = 'top-banner'>
	<h1>PBL Links Extension</h1>
</div>

<div id = 'instructions'>
	<h1 style = 'text-align:center'>Installation</h1>
	<ol>
		<li>Download the extension from <a href = 'http://pbl.link/chrome-extension' target = '_blank'>pbl.link/chrome-extension</a></li>
		<li>Go to your extensions dashboard at chrome://extensions</li>
		<li>Drag and drop the extension (.crx file) from step 1 into the extensions dashboard (you may have to use "reveal in finder")</li>
	</ol>
</div>


