<h1>Resources</h1>
<p>This is a temporary page</p>
<p><ul>
	<li><a href = 'https://docs.google.com/forms/d/1ZS9CWKyhFttJAgQjiXGok7oe8VL3okerR3amsbkEzAQ/viewform'>Reimbursements</a></li>
	<li><a href = 'http://chickenteriyaki7.wix.com/berkeleypblsblc'>SBLC</a></li>
	<li><a href="/deliberations/6">Deliberations</a></li>
	</ul>
</p>