<h1>Feedback</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Member</th>
      <th>Date</th>
      <th>Content</th>
    </tr>
  </thead>

  <tbody>
    <% Feedback.all.each do |fb| %>
      <tr>
        <td><%= fb.member.name %></td>
        <td><%= fb.created_at.strftime("%D") %></td>
        <td><%= fb.content %></td>
      </tr>
      <% end %>
  </tbody>
</table>