<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Edit Link</h3>
      </div>
      <div class="modal-body" id = 'edit-modal-content'>
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id = 'delete-link-btn' type="button" class="btn btn-default btn-material-red-500" data-dismiss="modal">Delete</button>
        <button id = 'save-link-btn' type="button" class="btn btn-material-blue-500">Save changes</button>
      </div>
    </div>
  </div>
</div>