<style type = 'text/css'>
.dir-inner-div{
	margin-left: 25px;
}
</style>
<h3>Subdirectories</h3>
<div class = 'dir-inner-div'>
<% if @subdirectories.length == 0 %>
<h5>No Subdirectories</h5>
<% else %>
	<div>
		<% @subdirectories.each do |dir| %>
		<div><%= link_to dir, '/go?cwd='+dir %></div>
		<% end %>
	</div>

<% end %>
</div>




