<style type = 'text/css'>
.middle-title{
	text-align:center;
}
.center-text{
	text-align:center;
}
</style>
<ul class = 'list-group'>
	<li class = 'list-group-item'><a href = "#aim">Our Aim</a></li>
	<li class = 'list-group-item'><a href = "#components">PBL Link Components</a></li>
	<li class = 'list-group-item'><a href = "#installing">Installing the Chrome Extension</a></li>
	<li class = 'list-group-item'><a href = "#extension">Using the Chrome Extension</a>
		<ul>
			<li><a href = '#looking-up-links'>Looking up URLs</a></li>
			<li><a href = '#adding-links'>Adding new Links</a></li>
			<li><a href = '#updating-links'>Updating Existing Links</a></li>
		</ul>
	</li>
	<li class = 'list-group-item'><a href = "#conventions">Naming Conventions and Directory Structure</a></li>
	</ul>
<!-- <h1 class = 'middle-title'>PBL Links</h1>
		<p>PBL Links is a custom URL shortener for PBL. PBL Links has two main goals: simplifying the way we <b>access and discover resources</b> in PBL.</p>
<img src = '/assets/links-logo.png' height=150></img> -->

<h3 id = 'aim' class = 'middle-title'>Our aim is to provide you</h3>

<h4>Quick access to PBL data</h4>
	<p>You can access any PBL Resource as pbl.link/resource. examples are <a href = 'http://pbl.link/mission' target = '_blank'>pbl.link/mission</a>, <a href = 'http://pbl.link/contact-sheet' target = '_blank'>pbl.link/contact-sheet</a>, and <a href = 'http://pbl.link/piazza' target = '_blank'>pbl.link/piazza</a></p>
<h4>Standardized interface to PBL data</h4>
	<p>All PBL Resources will be catalogued on our PBL Link Catalogue, enabling members to access any PBL Resource via it's alias and search for the research on the PBL Link Catalogue</p>
<h4>Custom Tools for PBL Resources</h4>
	<p>Some examples are favorites, trending and starred links, and monitoring. Members can favorite PBL Links to bookmark them on the home page of the portal. Execs and Officers can flag PBL Links to trend on the Portal's front page. PBL Links also allows chairs and officers to gauge engagement with PBL Resources through tools like "Who's viewed my link"</p>

<img src = '/assets/tools.png' height=150></img>
<h3 id = 'components' class = 'middle-title'>Using PBL Links</h3>
<p>To get started using PBL Links here are the three main components: <b>PBL Links</b>, <b>PBL Link Catalogue</b>, and <b>PBL Link Chrome Extension</b>
</p>

<h4>PBL Links</h4>
<p>At it's very simplest, a PBL Links is a key/alias and a URL. when you visit pbl.link/key you are redirected to the URL saved behind that key. A key can only point to one URL whereas one URL can be pointed to by multiple keys (for example pbl.link/mission and pbl.link/mission-statement could be configured to point to the same document). Keys can be overwritten, however. For example, pbl.link/chalking could be reset each chalking cycle to point to the current chalking sign up sheet.


<h4>PBL Link Catalogue</h4>
<p>PBL Link Catalogue is how to can search and discover any link previously created by your peers. Our catalogue has a <b>3-ply directory structure.</b> Each PBL Link belongs to a directory and a directory can be as many as three levels deep. You can browse through directories by clicking into them on the right of the Catalogue or by scrolling to them. Our Catalogue also provides a search bar. You can search Links by their name, their description, or even by the content within the link. For example searching "david liu" may return the contact-sheet and any other documents that contain "david liu" within the document.</p>

<h4>PBL Link Chrome Extension</h4>
<p>The Chrome Extension allows you to use PBL Links on the go. You can use the Chrome Extension to lookup the current URL in PBL Links, add new links, and search for previously created PBL Links (<a href = 'http://pbl.link/chrome-extension' target = '_blank'>pbl.link/chrome-extension</a>)</p>


<img src = '/assets/install.png' height=150></img>
<h3 id = 'installing' class = 'middle-title'>Installing PBL Links Chrome Extension</h3>
<p>Our Chrome Extension is an installed tool. Here's how to install it (these instructions can also be found at <a href = 'http://pbl.link/chrome-extension-tutorial' target = '_blank'>pbl.link/chrome-extension-tutorial</a>)
<ol>
<li>Visit <a href = 'http://pbl.link/chrome-extension' target = '_blank'>pbl.link/chrome-extension</a></li>
<li>Click "Download Zip" on the right side panel</li>
<li>Extract the zip to a folder on your computer</li>
<li>Visit chrome://extension (type this in as a URL)</li>
<li>Click "Developer Mode"</li>
<li>Click "Load From Unpacked" and select the folder you extracted the zip to</li>
<li>The Extension should appear in the right side of your search bar</li>
<li>Check the version number (on the bottom of the chrome extension)</li>
<li>Start using the extension!</li>
</ol>
</p>

<img src = '/assets/instruction-manual.png' height=150></img>
<h3 id = 'extension' class = 'middle-title'>Using PBL Links Chrome Extension</h3>
<p>Our Chrome Extension brings PBL Links to your fingertips when browsing the internet. You can quickly lookup, add, edit, and search links without having to switch context
<h4 id = 'looking-up-links'>Looking up a link</h4>
<p>We are encouraging PBL Links as the primary form of information currency in PBL. Instead of passing URLs, we aim to pass PBL Links. This keeps resources searchable, accessable, and reliable. When you visit any webpage, you can use the chrome extension to quickly look up what the PBL Link for that webpage is or find out if it has not been made into a PBL Link yet. If your webpage is a PBL Link you will see something like this
	<img src = '/assets/extension-lookup-example.png' height=75></img>
<h4 id = 'adding-links'>Adding a PBL Link</h4>
<p>The Chrome Extension is the recommended way to add a Link. You can add a link by 
	<ol>
		<li>Click the PBL Extension icon</li>
		<li>Click "Add a PBL Links"</li>
		<li>The current tab's URL will be copied in as the URL, but you can edit this</li>
		<li><img src = '/assets/extension-add-example.png' height=100></img></li>
		<li>Provide a key for the URL (see <a href = '#conventions'>Naming Conventions</a>)</li>
		<li>Provide a description and directory for your link
			<ul>
				<li>If you cannot find a good directory for your link, consider <b>creating a new directory</b></li>
				<li>Click "Create New Directory"</li>
				<li>Enter a directory name (see <a href = '#conventions'>Directory Structure Conventions</a>)</li>
				<li><img src = '/assets/extension-directory-example.png' height=100></img></li>
			</ul>
		</li>
		<li>Click "Add New Link," You will see a confirmation screen when the link has been added</li>
		<li><img src = '/assets/extension-add-confirmation-example.png' height=100></img></li>
		<li>visit pbl.link/key to see your resource up and running!</li>
		<li>We run a daily indexing job, so you will be able to search for your link in our search engine within a day of creating your link</li>
	</ol>
	It is also possible to add links by visiting <a href = "http://add.pbl.link">add.pbl.link</a> but we <b>highly recommend using our chrome extension instead (<a href = 'http://pbl.link/chrome-extension'>pbl.link/chrome-extension</a>)</b>
</p>
<h4 id = 'updating-links'>Updating an Existing Link</h4>

</p>

<img src = '/assets/writing.png' height=150></img>
<h3 id = 'conventions' class = 'middle-title'>Naming Conventions and Directory Structure</h3>
<p>To get the most out of PBL Links, we've adopted this naming convention and directory structure
<ul>
<li>Keys are lowercase alphanumeric words separated by a hyphen ("-") (example: wd-drive)</li>
<li>Keys are preceded by committee tags (if relevant) (example: ht-drive, wd-piazza)</li>
<li>Keys are suffixed by the document type (if relevant) (example: design-review-doc, wd-drive, ht-sound-workshop-ppt)</li>
<li>Directories are three levels deep at max (good: /web-development/portal/production, /historian/fall-15) (bad: /one/two/three/four)</li>
<li>Directories are separated by "/" and follow the same conventions as keys (alphanumeric lower cased separated by hyphen ("-")</li>
<li>Commonly references documents (mostly PBL wide) don't need extra tags (use discretion here) (ex: mission, chalking, tabling, points, portal, piazza)</li>
</ul>
</p>


<!-- <img src = '/assets/collaboration.png' height=150></img>
<h3 id = 'resources' class = 'middle-title'>PBL Resources are the new form of information currency</h3>

<p>One aim of PBL Links to formalize what a PBL Resource is. <b>A PBL Resource is anything that has been saved as a PBL Link</b>. PBL Resources are the new form of information currency, and when we create PBL Resources we are promised
	<ul>
		<li>Our Resource can be passed</li>
		<li>Our Resource can be found in the PBL Link Catalogue</li>
		<li>Our Resource can be monitored</li>
		<li>Our Resources will be persisted</li>
	</ul>
These are guarantees are <b>only afforded to PBL Resources</b>. Non-PBL Resources are still useful for scratch work and quick communication between members, but they are not provided the same promises as PBL Resources. Most notably <b>Non PBL Resources cannot be expected to be viewed.</b> Documents like Novum chalking signups, the reimbursement form, and scripts between committees must be made into PBL Links if we expect other members to view and respond to the document. Even articles we wish to spread to PBL need to be PBL-Linkified. Documents that are not PBL Links should not be circulated through PBL (though they can be used between members like two HT CMs scripting their PBLTV, for example).
</p> -->



