<style type = 'text/css'>
</style>


<div id = 'message'></div>
<h1 style = 'text-align:center'><a href = '/go'><img src = '/assets/link-circle.png' height=40></img></a> Add a PBL Link</h1>
 <div id = 'add-container' class = 'main-container'>
 	<div>
 		<div class="input-group">
		  <span class="input-group-addon">PBL.Link /</span>
		  <input id = 'key-input' type="text" class="form-control" placeholder = 'key (example: <%= @key %>)'>
		</div>

		<div class="input-group">
		  <span class="input-group-addon">Redirects to</span>
		  <input id = 'url-input' type="text" class="form-control" placeholder = 'URL' value = '<%= @url %>'>
		</div>

		<div class="input-group">
		  <span class="input-group-addon">Description</span>
		  <input id = 'description-input' type="text" class="form-control" placeholder = 'Description'>
		</div>

		<div class="input-group">
		  <span class="input-group-addon">Who can view?</span>
		  <select id = 'permissions-input' class = 'form-control'>
		  	<option>Only Me</option>
		  	<option selected>Only PBL</option>
		  	<option>Only Officers</option>
		  	<option>Only Execs</option>
		  	<option>Anyone</option>
		  </select>
		  
		</div>

	    <div class = 'btn-container'>
	    <!--	<button class = 'btn btn-material-purple-500' id = "back">Back to webpage</button> -->
	    	<button class = 'btn btn-material-blue-900' id = "save">Add New Link</button>
		</div>
    </div>
   </div>


<script type = 'text/javascript'>
$('#back').click(function(){
	window.location = '<%= @url %>';
});

function activateUndoButton(){
	$('.undo-btn').click(function(){
		id = $(this).attr('id');
		$.ajax({
	      url: '/go/delete',
	      type: 'POST',
	      data: {'id': id},
	      success:function(data){
	      	console.log(data);
	        console.log('sucessfully saved link');
	        message = "<h2>Deleted your link</h2>";
	        message = message + "You can add additional links below or return to browsing";
	        $('#message').html(message);
	      },
	      error:function (xhr, textStatus, thrownError){
	        alert('failed to undo');
	      }
	  });
	});
}
$('#save').click(function(){
	$.ajax({
      url: '/go/add',
      type: 'POST',
      data: {'key': $('#key-input').val(), 'url': $('#url-input').val(), 'description': $('#description-input').val(), 'permissions': $("#permissions-input option:selected").text()},
      success:function(data){
      	window.location = '/go/finished_adding?id='+data.attributes.objectId;
      	// console.log(data);
       //  console.log('sucessfully saved link');
       //  message = "<h2>Successfully saved " + $('#key-input').val() + " </h2>";
       //  message = message +  "<button id = '" + data.attributes.objectId + "' class = 'btn btn-material-red-500 undo-btn'>Undo</button>"
       //  message = message + "<button id = '" + data.attributes.objectId + "' class = 'btn btn-material-blue-500 share-btn'>Share</button>"
       //  message = message + "<p>Clicking Undo will delete this link. You can add additional links below or return to browsing";
       //  $('#message').html(message);

       //  activateUndoButton();

       //  $('#key-input').val('');
       //  $('#url-input').val('');
       //  $('#description-input').val('');
      },
      error:function (xhr, textStatus, thrownError){
        // console.log('failed');
        alert('failed');
      }
  });

});

</script>