
<h3>Links</h3>
<table class = 'table table-hover table-condensed'>
	<tbody>
	<% @golinks.each do |golink| %>
	<tr class = 'link-row' id = '<%= golink.id %>-row'>
		<td class = 'golink-key-td'><a href = '<%= golink.url %>' target="_blank"><%= golink.key %></a>
		</td> 
		<td class = 'golink-description-td'>
			<%= golink.description %>
		</td>
	</tr>
	<% end %>
	</tbody>
</table>