<h3>My Bundles</h3>

<p>
Links can be added and removed from bundles by directly using the chrome extension. Here you can edit bundle permissions
</p>
<div id = 'spacer' style = 'clear:both;height:25px'></div>
<% @my_bundles.each do |bundle| %>
<p>
	<h5><%= bundle.name %></h5>
	<div><%= bundle.groups.join(',') %></div>
	<div><%= bundle.keys.join(',') %></div>
</p>
<% end %>