<script type = 'text/javascript'>
function pullEventCatalogue(option){
	// pull data from /go/catalogue
	$.ajax({
      url: '/go/catalogue',
      type: 'GET',
      data: {'option': option},
      success:function(data){
        $('#catalogue-container').html(data);
      },
      error:function (xhr, textStatus, thrownError){
        $('#catalogue-container').html('<h1>Failed to load catalogue</h1>');
      }
  	});
}
function activateButtonActions(){
	$('.catalogue-btn').click(function(){
		$('.catalogue-btn.active').each(function(){
			$(this).removeClass('active');
		});
		$(this).addClass('active');
		// refresh event catalogue
		option = $(this).attr('id');
		$('#catalogue-container').html("");
		pullEventCatalogue(option);
	});
}
$(document).ready(function(){
	pullEventCatalogue('');
	activateButtonActions();
});
</script>

<style type = 'text/css'>
#catalogue-container{
	margin-top:25px;
}
</style>

<% if @message %>
<p><%= @message %></p>
<% end %>

<p><%= link_to 'Add New PBL Links', '/go/manage' %></p>
<p><%= link_to 'PBL Link Guide', '/go/guide' %></p>

<h1>PBL Link Catalogue</h1>

<div id = 'catalogue-button-container'>
<a class="btn btn-default" href="/go/clicks" role="button">Metrics</a>
<button id = "" class="catalogue-btn btn btn-default active" type="submit">Alphabetical</button>
<button id = "resource-type" class="catalogue-btn btn btn-default" type="submit">Group By Resource Type</button>
<button id = 'prefix-suffix' class="catalogue-btn btn btn-default" type="submit">Group By Prefix/Suffix</button>
</div>

<div id = 'catalogue-container'></div>

