<script type = 'text/javascript'>
function pullEventCatalogue(){
	// pull data from /go/catalogue
	$.ajax({
      url: '/go/catalogue',
      type: 'GET',
      data: {},
      success:function(data){
        $('#catalogue-container').html(data);
      },
      error:function (xhr, textStatus, thrownError){
        $('#catalogue-container').html('<h1>Failed to load catalogue</h1>');
      }
  	});
	
}

$(document).ready(function(){
	pullEventCatalogue();
});
</script>

<% if @message %>
<p><%= @message %></p>
<% end %>

<h1>PBL Link Catalogue</h1>

<p><%= link_to 'Add New PBL Links', '/go/manage' %></p>
<p><%= link_to 'PBL Link Guide', '/go/guide' %></p>

<div id = 'catalogue-container'></div>

