<h1>PBL Links</h1>
<p><%= link_to 'Back to PBL Link Catalogue', '/go' %></p>
<p><%= link_to 'Manage PBL Links', '/go/manage' %></p>

<h2>What is a PBL Link?</h2>
<p>PBL Links is a custom URL shortener for PBL. This project was inspired by “go links,” which are used at LinkedIn for a similar purpose.</p>

<h2>Why PBL Links?</h2>

<h5>Quick access to PBL data</h5>
	<p>pbl.link?resource is a quick and easy way to access whatever resource you need in PBL. Its easy to share the calendar and mission statement during a meeting, for example, by having everyone visit <%= link_to 'pbl.link?calendar', 'http://pbl.link?calendar' %>  and <%= link_to 'pbl.link?mission', 'http://pbl.link?mission' %></p>
<h5>Standardized interface to PBL data</h5>
	<p>If we are consistent with our use and creation of PBL Links, they are a reliable and standard way to access the data we are looking for. Further, WD is working on a clean/effective interface for Link Catalogues. If this is done well all PBL data should be easy to access via links and easy to discover via the link catalogue</p>
<h5>Durable resources</h5>
	<p>actual links are easy to lose. PBL Links are durable because they describe the resource they link to (ex pbl.link?mission links to the mission statement). PBL links don’t have to be re-looked up every time they are used.</p>
