
<style type = 'text/css'>
#directory-container{
   position: fixed;
  top: 50px;
  bottom: 0px;
  /*width: 100px;*/
  right:45px;
  /*background: #eee;*/
  margin: 10px;
  overflow: scroll;
}
.right-panel-div{ 
  /*indlcudes tag cloud and collections div*/
  margin-top:10px;
  padding:10px;
}

.label:hover{
  cursor:pointer;
}
.label.selected-tag{
  opacity:1.0;
}
.label{
  opacity:0.3;
  margin:2px;
}
.smalltext{
  font-size:10px;
}
#custom-search-input{
    /*padding: 3px;*/
    margin-top:25px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    padding-bottom:0px;
}

#custom-search-input button{
    margin: 0px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: white;
    background-color:#1976d2;
    /*border-radius: 0px 0px 0px 0px;*/
    padding:0px;
}
#search-icon.glyphicon.glyphicon-search{
	  /*font-size: 20px;*/
  border-radius: 0px;
  /*padding: 0px 10px 0px 10px;*/
    font-size: 10px;
  padding: 10px 10px 10px 10px;
  margin-left: 0px;
}
#search-btn.btn.btn-info.btn-sm.btn-material-blue-500{

  border-radius: 2px;
  left: 2px;

}
#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
  font-size: 23px;
  /*padding: 5px 20px 5px 20px;*/
}

#search-btn:hover{
  color:white;
  background-color:black;
}
#search-btn{
  color:white;
  /*padding:3px;*/
}
.directory-section-div{
	clear:both;
	margin-bottom:15px;
	overflow:auto;
}
.mdi-hardware-keyboard-tab{
	color:rgba(0,0,0,0.1);
}

.navbar-material-blue-900.navbar {
  background-color: black;
}

#spinner-div{
  z-index: 5000;
    position: fixed;
    top:100px;
    left:500px;
    margin: auto;
    display:none;
}
#loading-gif{
  height:150px;
  position:fixed;
  left:500px;
  top:175px;
  display:none;
  z-index:5000;
}
</style>


<img src = 'https://cdn.wpfaster.org/wp-content/uploads/2013/06/loading-gif.gif' id = 'loading-gif'></img>
<!-- Modal -->
<div class="modal fade" id="guide-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">PBL Link Guide</h4>
      </div>
      <div class="modal-body">
        <%= render 'guide' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<h1 class = 'middle-title'><img src = '/assets/link-circle.png' height=75></img>  PBL Links</h1>
    <p>PBL Links is a custom URL shortener with two main goals: simplifying the way we <b>access and discover PBL resources</b>. </p>
  <a href = 'javascript:void(0);' data-toggle="modal" data-target="#guide-modal">
   Read More about PBL Links
  </a>



  <div id = 'directory-container1'>
  <div id="custom-search-input">
      <div class="input-group">
          <input id = 'search-input' type="text" class="input-lg" placeholder="Search for a PBL link" />
      </div>
  </div>
  <!-- end of search input -->


  <div class = 'row' style = 'text-align:center'>
      <h3>My Collections</h3>
      <h4><a href = '/go/my_links' class = 'collections-link'>My Links</a></h4>
      <h4><a href = '/go/bundles' class = 'collections-link'>My Bundles</a></h4>
      <% if @collections %>
        <% @collections.each do |collection| %>
        <h4><a href = '/go/collections/<%= collection.name %>' class = 'collections-link'><%= collection.name %></a></h4>
        <% end %>
      <% end %>
      <h4><a href = '/go/tags'>Browse the entire catalogue</a></h4>
</div>


<script type = 'text/javascript'>
function activateSearchButton(){
  $('#search-input').keypress(function(e) {
    if(e.which == 13) {
       search_term = $('#search-input').val();
       console.log(window.location);
       window.location.assign('/go/search?search_term='+search_term);
    }
});
}
activateSearchButton();
</script>




