<style type = 'text/css'>
.url-match:hover{
	cursor:pointer;
}
.smalltext{
	font-size:10px;
}
</style>
<div style = 'text-align:center'><h1>PBL Links</h1></div>

<h3><a href = '<%= @url %>'>Back to my page</a></h3>
<h3 id = 'url-matches'>URL Matches</h3>
<p class = 'text-muted smalltext'>Click on a link to copy it to your clipboard</p>
<ul class = 'list-group'>
<% @url_matches.each do |match| %>
<li class = 'list-group-item url-match'>pbl.link/<%= match.key %></li>
<% end %>
</ul>

<h3>Sharing Center</h3>
<input type = 'text' class = 'form-control' placeholder = 'Links (or bundles) to send'></input>
<input type = 'text' class = 'form-control' placeholder = 'Recipients (groups separated by commas)'></input>
<input type = 'text' class = 'form-control' placeholder = 'Message'></input>
<button class = 'btn btn-material-blue-500'>Send Links</button>

<h3>Me</h3>



<script type = 'text/javascript'>
//ajax pull recently visited links

//copy to clipoard when clicking matches
function copyToClipboard( text ){
    var copyDiv = document.createElement('div');
    copyDiv.contentEditable = true;
    $(copyDiv).insertBefore($('#url-matches'));
    copyDiv.innerHTML = text;
    copyDiv.unselectable = "off";
    copyDiv.focus();
    document.execCommand('SelectAll');
    document.execCommand("Copy", false, null);
    $(copyDiv).remove();
}
function activateCopyLinkToClipboard(){
	$('.url-match').click(function(){
		$(this).fadeOut(100).fadeIn(100);
		copyToClipboard($(this).text());
	})
}
activateCopyLinkToClipboard();
</script>
