<style type = 'text/css'>
.go-input{
	width:100%;
	margin-top:3px;
	border: 0;
    box-shadow: none;
}
</style>



<%= link_to 'Back go Catalogue', '/go' %>
<h1>Add A New PBL Link</h1>


		<button class = 'btn btn-material-red-700 btn-raised' id = 'add-go-link-btn'>Add PBL Link</button>


		<div><input id = 'go-key-input' type="text" class="go-input input-lg" placeholder="Link Alias (example: mission-doc)" /></div>
		<!-- <input id = 'go-key-input' type = 'text' class = '' placeholder = 'Link Alias (example: mission-doc)'/> -->
		<div><input id = 'go-url-input' type = 'text' class = 'go-input input-lg' placeholder = 'Link URL (example: http://linkedin.com)'/></div>
		<div><input id = 'go-description-input' type = 'text' class = 'go-input input-lg' placeholder = 'Recommended: Description (example: planning document for long movie)'/></div>
		<div><input id = 'go-directory-input' type = 'text' class = 'go-input input-lg' placeholder = 'Optional: Directory (example: /ht/fall-2015) Only two-deep allowed!'/></div>

<div class = 'row'>
<!-- <h1>Owned By Me</h1> -->
<!-- <div id = 'catalogue-container'></div> -->
</div>




<script type = 'text/javascript'>
function pullEventCatalogue(option){
	// pull data from /go/catalogue
	<% if current_member %>
	member_id = '<%= current_member.id %>';
	<% else %>
	member_id = '-1';
	<% end %>
	$.ajax({
      url: '/go/catalogue',
      type: 'GET',
      data: {'option': option, 'member_id': member_id},
      success:function(data){
        $('#catalogue-container').html(data);
      },
      error:function (xhr, textStatus, thrownError){
        $('#catalogue-container').html('<h1>Failed to load catalogue</h1>');
      }
  	});
}
function updateActions(){
	$('#add-go-link-btn').click(function(){
		
		key = $('#go-key-input').val();
		url = $('#go-url-input').val();
		description = $('#go-description-input').val();
		directory = $('#go-directory-input').val();

		path = '/go/create'
		successFunction = function (data){
			window.location = '/go';
		}
		errorFunction = function(){
			alert("Failed. Your link key may have already been assigned!");
		}
		data = {'key': key, 'url': url, 'description':description, 'directory': directory}
		makeAjaxRequest(path, 'POST', data, successFunction, errorFunction);

	});
}
/**
* to be performed on page load
*/
$(document).ready(function(){
	// pullEventCatalogue("member_links");
	updateActions();
});
</script>