<style type = 'text/css'>
.go-input{
	width:100%;
	margin-top:3px;
	border: 0;
    box-shadow: none;
}
.error{
	color:red;
}
.navbar-material-blue-900.navbar {
  /*background-color: #0d47a1;*/
  /*color: rgba(255,255,255,.84);*/
  background-color: black;
}
</style>


<h1>Add A New PBL Link</h1>


		<button class = 'btn btn-material-red-700 btn-raised' id = 'add-go-link-btn'>Add PBL Link</button>


		<div><input id = 'go-key-input' type="text" class="go-input input-lg" placeholder="Link Alias (example: mission-doc)" /></div>
		<!-- <input id = 'go-key-input' type = 'text' class = '' placeholder = 'Link Alias (example: mission-doc)'/> -->
		<div><input id = 'go-url-input' type = 'text' class = 'go-input input-lg' placeholder = 'Link URL (example: http://linkedin.com)'/></div>
		<div><input id = 'go-description-input' type = 'text' class = 'go-input input-lg' placeholder = 'Recommended: Description (example: planning document for long movie)'/></div>
		<div><input id = 'go-directory-input' type = 'text' class = 'go-input input-lg' placeholder = 'Optional: Directory (example: /ht/fall-2015) Only two-deep allowed!' <% if @directory %>value = '<%= @directory %>' <% end %>/></div>

<div class = 'row'>
<!-- <h1>Owned By Me</h1> -->
<!-- <div id = 'catalogue-container'></div> -->
</div>




<script type = 'text/javascript'>
var keys = $.parseJSON("<%= escape_javascript(@keys.to_json).html_safe %>");
function updateActions(){
	$('#add-go-link-btn').click(function(){
		errors = 0;
		$('.error').each(function(){
			errors += 1;
		});
		if(errors > 0){
			alert('Cannot save: there are '+errors + ' errors');
		}
		else{
			key = $('#go-key-input').val();
			url = $('#go-url-input').val();
			description = $('#go-description-input').val();
			directory = $('#go-directory-input').val();
			$.ajax({
		      url: '/go/create',
		      type: 'POST',
		      data: {'key': key, 'url': url, 'description':description, 'directory': directory},
		      success:function(data){
		        window.location = '/go';
		      },
		      error:function (xhr, textStatus, thrownError){
		        alert("Failed. Your link key may have already been assigned!");
		      }
		  });
		}
	});
}
$(document).ready(function(){

$('#go-key-input').keyup(function(){
//check
	if($(this).hasClass('error')){
		$(this).removeClass('error');
	}
	var punctuation = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')', ' ', ','];
	key = $(this).val();
	if(keys.indexOf(key) != -1){
		$(this).addClass('error');
	}
	else{
		for(var i=0;i<punctuation.length;i++){
			if(key.indexOf(punctuation[i]) != -1){
				$(this).addClass('error');
			}
		}
	}

});

$('#go-directory-input').keyup(function(){
//check
	if($(this).hasClass('error')){
		$(this).removeClass('error');
	}
	dir = $(this).val();
	var punctuation = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')', ' ', ','];
	if(dir.substring(0,1) != "/"){
		$(this).addClass('error');
	}
	else{
		for(var i=0;i<punctuation.length;i++){
			if(dir.indexOf(punctuation[i]) != -1){
				$(this).addClass('error');
			}
		}
	}
	//make sure can split by /
	split = dir.split('//');
	if(split.length > 1){
		$(this).addClass('error');
	}
	nest = dir.split('/').length-1
	if (nest > 3){
		$(this).addClass('error');
	}
	console.log(nest);

	console.log(split);
});

updateActions();


});
</script>