<style type = 'text/css'>
</style>

<script type = 'text/javascript'>
function pullEventCatalogue(option){
	// pull data from /go/catalogue
	$.ajax({
      url: '/go/catalogue',
      type: 'GET',
      data: {'option': option},
      success:function(data){
        $('#catalogue-container').html(data);
      },
      error:function (xhr, textStatus, thrownError){
        $('#catalogue-container').html('<h1>Failed to load catalogue</h1>');
      }
  	});
}
function updateActions(){
	$('#add-go-link-btn').click(function(){
		
		key = $('#go-key-input').val();
		url = $('#go-url-input').val();
		description = $('#go-description-input').val();

		path = '/go/create'
		successFunction = function (data){
			location.reload();
		}
		errorFunction = function(){
			alert("Failed. Your link key may have already been assigned!");
		}
		data = {'key': key, 'url': url, 'description':description}
		makeAjaxRequest(path, 'POST', data, successFunction, errorFunction);

	});
}
/**
* to be performed on page load
*/
$(document).ready(function(){
	// pullEventCatalogue("");
	updateActions();
});
</script>

<%= link_to 'Back go Catalogue', '/go' %>
<h1>Add A New PBL Link</h1>


<div class = 'row'>
	<div class = 'col-md-2'>
		<button class = 'btn btn-default btn-raised' id = 'add-go-link-btn'>Add PBL Link</button>
	</div>
	<div class = 'col-md-6'>
		<input id = 'go-key-input' type = 'text' class = 'form-control' placeholder = 'Link Alias (example: mission-doc)'/>
		<input id = 'go-url-input' type = 'text' class = 'form-control' placeholder = 'Link URL (example: http://linkedin.com)'/>
		<input id = 'go-description-input' type = 'text' class = 'form-control' placeholder = 'Description'/>
	</div>
</div>

<div class = 'row'>
<p>
<h1>Owned By Me</h1>
	<p>

</div>

