<%= link_to 'Back to Catalogue', '/go' %>
<h1><%= @golink.key %> Metrics</h1>
<div class = 'row'>
	<div class = 'col-md-6'>
	<table class = 'table table-condensed'>
		<thead>
			<th>Member</th>
			<th>Time Clicked</th>
		</thead>
		<tbody>
			<% @clicks.each do |click| %>
			<tr>
				<td><% if click.member_email %>
					<%= click.member_email %>
					<% else %>
					Not Signed In
					<% end %>
				</td>
				<td><%= click.updated_at %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
</div>