<style type = 'text/css'>
#loading-gif{
  height:75px;
  display:none;
  z-index:5000;
}

#modal-body{
  padding:15px;
}
#modal-header{
  margin-bottom:3px;
  background-color:black;
  text-align:center;
  padding-bottom:3px;
}
#modal-options{
  padding:15px;
}
</style>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id = 'modal-header' class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-title">Modal title</h4>
      </div>
      <div id="modal-body">
      </div>
      <div id = 'modal-options'>
      	<img src = 'https://cdn.wpfaster.org/wp-content/uploads/2013/06/loading-gif.gif' id = 'loading-gif'></img>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- end of modal -->