<style type = 'text/css'>

#search-glyphicon{
  color:white;
}
#pbl-round-logo{
    position: absolute;
  top: 13px;
  left: -29px;
}
.navbar-icon{
  font-size:15px;
}

/* navbar */
<% if @resource_hub %>
.navbar-primary .navbar { background:black; border-bottom:none; }
<% else %>
.navbar-primary .navbar { background: black;
  /*#205081; */
  border-bottom:none; }
<% end %>
.navbar-xs .navbar-primary .navbar { min-height:28px; height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }
.navbar-sm .navbar-primary .navbar { min-height:40px; height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px;   color: white; font-size:13px;}
input:focus     { outline:none; }

@media (max-width: 480px) {
  #main-navbar-div{
    background-color:black;
  }
  div.navbar-primary{
      background-color: black;
  height: 270px;
  position: relative;
  top: -335px;
  }
  div.navbar-sm{
  	height:0px;
  }
}

</style>

<div class="navbar-sm">
   <div class="navbar-primary">
<nav class="navbar navbar-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class = 'navbar-brand' href = '/'><img src = '/assets/pbl-long-logo.png' style = 'height:27px;margin-top:-7px'></img></a>
    </div>
    <div class = 'navbar-body'>

    	<ul class = 'nav navbar-nav pull-right'>
        <% if current_member %>

        <li class = 'pull-right'>
          <a href="/sign_out">
            <i class="glyphicon glyphicon-log-out"></i> 
            Sign Out of <%= current_member.email %>
          </a>
        </li>
        <% else %>

        <li class = 'pull-right'>
          <a  class = 'pull-right' href="/auth/google_oauth2">
            <i class="glyphicon glyphicon-log-in"></i> 
            Sign In
          </a>
        </li>
        <% end %>
      </ul>


      <ul class="nav navbar-nav">
        <li>
        	<a href="/go">
        		<span class = 'navbar-icon'><img src = '/assets/pbl-links-logo-2.png' style = 'height:15px;position:relative;top:-2px'></img></span> 
        		PBL Links</a>
    	</li>

        <li>
        <a href="/members">
            <span class = 'navbar-icon'><img src = '/assets/members-icon.png' style = 'height:15px;position:relative;top:-2px'></img></span>
            Members
          </a>
      </li>
         <li class = 'inactive-li'>
          <a href="/tabling">
            <!-- <i class="navbar-icon mdi-image-wb-sunny"></i>  -->
            <span class = 'navbar-icon'><img src = '/assets/tabling-icon-2.png' style = 'height:15px;position:relative;top:-2px'></img></span>
            Tabling
          </a>
        </li>
        <li class = 'inactive-li'>
          <a href="/points">
            <!-- <i class="navbar-icon mdi-action-assessment"></i>  -->
            <span class = 'navbar-icon'><img src = '/assets/points-icon.png' style = 'height:15px;position:relative;top:-2px'></img></span>
            Points
          </a>
        </li>

        <li class = 'inactive-li'>
          <a href="/tasks/guide">
            <!-- <i class="navbar-icon mdi-action-assessment"></i>  -->
            <span class = 'navbar-icon'><img src = '/assets/trello-logo.png' style = 'height:15px;position:relative;top:-2px'></img></span>
            Tasks
          </a>
        </li>
      </ul>


    </div>
  </div>
</nav>
</div></div>