
<style type = 'text/css'>

#search-glyphicon{
  color:white;
}
#pbl-round-logo{
    position: absolute;
  top: 13px;
  left: -29px;
}
.navbar-icon{
  font-size:15px;
}

/* navbar */
.navbar-primary .navbar { background:#205081; border-bottom:none; }
/*.navbar-primary .navbar .nav > li > a {color: #501762;}*/
/*.navbar-primary .navbar .nav > li > a:hover {color: #fff; background-color: black;}*/
/*.navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {color: #fff; background-color: #501762;}*/
/*.navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff;border-bottom-color: #fff;}*/
/*.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover {}*/
/*.navbar-primary .navbar .nav > li.dropdown.open > a {color: #fff;background-color: #9f58b5;border-color: #fff;}*/
/*.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar .nav > li.dropdown.open > a .caret {border-top-color: #fff;}*/
/*.navbar-primary .navbar .navbar-brand {color:#fff;}*/
/*.navbar-primary .navbar .nav.pull-right {margin-left: 10px; margin-right: 0;}*/
.navbar-xs .navbar-primary .navbar { min-height:28px; height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }
.navbar-sm .navbar-primary .navbar { min-height:40px; height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }


input:focus     { outline:none; }

</style>
<div class="navbar-sm">
   <div class="navbar-primary">
<nav class="navbar navbar-default navbar-fixed-top navbar-material-blue-900" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <a class="navbar-brand" title="Customers v{{getAppVersion}}" href="/"><span style = 'font-size:20px' class = 'mdi-action-home'></span> [PBL][MP]</a>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <li class = 'inactive-li'>
          <a href="/go">
            <!-- <i class="fa fa-gears"></i>  -->
            <span class = 'navbar-icon mdi-action-perm-media'></span> Resource Hub
          </a>
        </li>


        <li class = 'inactive-li'>
          <a href="/members">
            <!-- <i class="fa fa-users"></i>  -->
            <span class = 'navbar-icon mdi-social-group md-10'></span> Members
          </a>
        </li>
        <li class = 'inactive-li'>
          <a href="/tabling">
            <i class="navbar-icon mdi-image-wb-sunny"></i> 
            Tabling
          </a>
        </li>
        <li class = 'inactive-li'>
          <a href="/points">
            <i class="navbar-icon mdi-action-assessment"></i> 
            Points
          </a>
        </li>

        

      </ul>
      <ul class = 'nav navbar-nav pull-right'>
        <% if current_member %>

        <li class = 'pull-right'>
          <a href="/sign_out">
            <i class="glyphicon glyphicon-log-out"></i> 
            Sign Out of <%= current_member.email %>
          </a>
        </li>
        <% else %>

        <li class = 'pull-right'>
          <a  class = 'pull-right' href="/auth/google_oauth2">
            <i class="glyphicon glyphicon-log-in"></i> 
            Sign In
          </a>
        </li>
        <% end %>
      </ul>
    </div>
</nav>
</div>
</div>