<style type = 'text/css'>
/*#top-navbar{
  padding:10px;
}*/
</style>
<nav id = 'top-navbar' class="navbar navbar-material-blue-900 navbar-default navbar-fixed-top">
  <i class = 'mdi-navigation-menu sb-toggle-left'></i>
</nav>