<script type = 'text/javascript'>
$(document).ready(function(){
  $('.inactive-li').mouseover(function(){
    $('.active').each(function(){
      $(this).removeClass('active');
    });
    $(this).addClass('active');
  });

  $('.inactive-li').mouseout(function(){
    $('.active').each(function(){
      $(this).removeClass('active');
    });
  });

});

</script>

<style type = 'text/css'>

#search-glyphicon{
  color:white;
}
#pbl-round-logo{
    position: absolute;
  top: 13px;
  left: -29px;
}
input:focus     { outline:none; }

</style>
<div class="navbar navbar-default navbar-fixed-top navbar-material-blue-700" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    


    <a class="navbar-brand" title="Customers v{{getAppVersion}}" href="/"><span class = 'mdi-action-home'></span> [PBL][MP]</a>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <li class = 'inactive-li'>
          <a href="/go">
            <!-- <i class="fa fa-gears"></i>  -->
            <span class = 'mdi-action-perm-media'></span> Resource Hub
          </a>
        </li>


        <li class = 'inactive-li'>
          <a href="/members">
            <!-- <i class="fa fa-users"></i>  -->
            <span class = 'mdi-social-group'></span> Members
          </a>
        </li>
        <li class = 'inactive-li'>
          <a href="/tabling">
            <i class="mdi-image-wb-sunny"></i> 
            Tabling
          </a>
        </li>
        <li class = 'inactive-li'>
          <a href="/points">
            <i class="mdi-action-assessment"></i> 
            Points
          </a>
        </li>

        


        <% if current_member %>
        <li>
          <a href="/members/account">
            <i class="mdi-editor-insert-emoticon"></i> 
            <%= current_member.name %>
          </a>
        </li>

        <li>
          <a href="/sign_out">
            <i class="glyphicon glyphicon-log-out"></i> 
            Sign Out
          </a>
        </li>
        <% else %>

        <li>
          <a href="/auth/google_oauth2">
            <i class="glyphicon glyphicon-log-in"></i> 
            Sign In
          </a>
        </li>
        <% end %>

        <!-- <div class="col-sm-5 col-md-4 pull-right">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>
        </form>
        </div> -->
       
</form>

        

      </ul>
    </div>
  </div>
</div>