

<div class = 'row'>

	<div class = 'col-md-4'>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Announcements</h3>
		  </div>
		  <div class="panel-body">
		    <ul>
		    	<li>PD Challenge ends tomorrow!</li>
		    </ul>
		  </div>
		</div>	

		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">TO DO</h3>
		  </div>
		  <div class="panel-body">
		    <ul>
		    	<li>Sign up for 3 Concessions</li>
		    	<li>Fill out mid-semester survey</li>
		    	<li>Pay for Yearbook</li>
		    </ul>
		  </div>
		</div>	
</div>
</div>
