
<h1>Welcome to PBL Members Portal</h1>

<% if @current_member %>
<h2>Current Members</h2>
<br>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Committee</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record['name'] %></td>
        <td><%= record['committee'] %></td>
        <td><%= record['email'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%else%>
<h3>Please sign in to view the portal.</h3>
<% end %>
<br>
