<h1>Manage Members</h1>
<br>
<table class='table table-condensed table-hover table-bordered'>
  <thead>
    <tr>
      <th>name</th>
      <th>email</th>
      <th>other</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><span>destroy</span><span>update</span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

