<img src = '<%= @member.gravatar_url(200) %>' class = 'profile-image'></img>

<p>
	<ul>
		<li>Committee: Web Development</li>
		<li>Phone: 714-299-1786</li>
		<li>Position: Committee Member</li>
	</ul>
</p>