

<% if @trello_notifications.length > 0 %>
	<h4>Trello Notifications</h4>
	<% @trello_notifications.each do |notification| %>
		<% if notification['unread'] and notification['data'].keys.include?('card') %>
			<div class = 'notification-card shadow-z-1'>
				<div><a href = 'http://trello.com/c/<%= notification["data"]["card"]["id"] %>' target = '_blank'><%= notification['data']['card']['name'] %></a></div>
				<div><b>Type:</b> <%= notification['type'] %></div>
				<% if notification['data'].keys.include?('text') %>
				<div><b>Text:</b> <%= notification['data']['text'] %></div>
				<% end %>
			</div>
		<% end %>
	<% end %>
<% else %>
	<h4>No New Trello Notifications</h4>
<% end %>