<script type = 'text/javascript'>
$(document).ready(function(){
	$("#registration-form").hide();
	$("#registration-form-btn").click(function(){
		$("#registration-form").toggle();
	})
	$('#submit-btn').click(function(){
		var email = $("#email-input").val();
		var name = $("#name-input").val();
		var phone = $("#phone-input").val();
		var registration_comment = $("#registration-comment-input").val();
		var member_data = {'name':name, 'email':email, 'phone':phone, 'registration_comment':registration_comment}
		 $.ajax({
          url:'/members/complete_sign_up',
          type: "GET",
          data: {"member_data": member_data}
        }).done(function(data){
            alert('Success: A new member has been created for this email address. Try signing in again');
            // window.location.replace("http://stackoverflow.com");

        }).fail(function(data){
            alert('failed');
        });
	});
});
</script>
<style type = 'text/css'>
#registration-form-btn:hover{
	cursor:pointer;
}
</style>

<h1>You do not have an account on the portal</h1>
<img src='http://www.bedpostblog.com/wp-content/uploads/2013/08/culkin-shocked-face.png' height=200/>
<h2>If you do have an account on the portal, please make sure you are signing in with the correct email (the one you registered with)</h2>
<h2>If you are new to the portal, welcome!</h2>

<h3 id='registration-form-btn'>New to the portal? click me</h3>

<div id='registration-form'>
	<p>After submitting, please await confirmation from the secretary</p>
	<div>Name  
		<input id = 'name-input' type = 'text' class='form-inline'/>
	</div>
	<div>Email
		<input id = 'email-input' type = 'text' class='form-inline'/>
	</div>
	<div>Phone
		<input id = 'phone-input' type = 'text' class='form-inline'/>
	</div>
	<div>Registration Comment
		<textarea id='registration-comment-input'></textarea>
	</div>
	<button class='btn' id = 'submit-btn'>submit</button>

</div>

